# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
instance/
.env

# Logs and databases
*.log
*.sqlite3

# IDE files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Dependency directories
venv/
env/

# Private files
serviceAccount.json